#global{
    //width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#tete{
    background:#ae0000;
}

#corps{
    //background:#ffffff;
}


#menu{
    //float:left;
    width:100%;
    background:#dbdbdb;
}

#contenu{
    width:100%;
    min-height:400px;
    //margin-left:200px;
    //background-color: #ffffff;
}

#menu ul {
    list-style: none;
}


#pied {
    background:#dbdbdb;

}
